/Obsessive/target/
/Obsessive/.idea
/Obsessive/.settings/
/Obsessive/target/
/Obsessive/Obsessive.iml
/Obsessive/.classpath
/Obsessive/.project
/Obsessive/logs
/Obsessive/src/main/resources
/Obsessive/src/test
/Obsessive_sample/target/
/Obsessive_sample/.idea
/Obsessive_sample/.settings/
/Obsessive_sample/target/
/Obsessive_sample/obsessive_sample.iml
/Obsessive_sample/.classpath
/Obsessive_sample/.project
/Obsessive_sample/logs
/Obsessive_sample/src/test

